/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
img{
    width: 100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 
header{
    width: 100%;
    padding: 0 2%;
    position: fixed;
    z-index: 2;
    background-color: white;
}
.row{
    padding: 30px 0;
}
.btn{
    background-color: #0061ff;
    display: inline-block;
    text-align: center;
    padding: 8px 15px;
}
.btn:hover{
    background-color: rgb(65, 65, 255);
    cursor: pointer;

}
/* END RESET */

/* col-1 */
.lista{
    display: inline-block;
    vertical-align: middle;
}
ul, li{
    display: inline-block;
    list-style-type: none;    
}
a{
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.col-1{
    position: relative;
    float: left;
    
}
.logo{
    width: 200px;
    vertical-align: middle;
}
/* end col-1 */

/* col-2 */
.col-2{
    position: relative;
    float: right;
    
}
.btn-header{   
    vertical-align: middle;
    color: white;
}


/* end col-2 */

/* SOTTO HEADER */
.row-2{
    padding-top: 20px;  
}
.sotto-header{
    background-color: #b4d0e7;
    height: 800px;
    width: 100%;
}
.container{
    width: 70%;
    margin: auto;
    padding-top: 10%;
}
.container h1{
    font-size: 75px;
}
/* colonna 1 */
.col-1-row-2{
    float: left;
    width: 40%;
    font-weight: bold;
}
.btn-prova-gratuita{
    margin-top: 35px;
    padding: 8px 15px;
    color: white;
    display: inline-block;
}
#div-banner{
    margin-top: 10px;
    display: block;
}
.arrow{
    font-size: 40px;
    margin-top: 30px;
}
/* colonna 2 */
.col-2-row-2{
    float: right;
    width: 60%;
}
/* SOTTO HEADER */

/* COLONNE PRINCIPALI */
.colonne h2{
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: bold;
}
.checkbox{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 5px solid #0061ff;
    border-radius: 50%;
    vertical-align: middle;
}
.checkbox2{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 15px;
}
/* inizio colonne */
.row-3{
    margin-top: 30px;
}
.col-I{
    float: left;
    border: 1px solid gray;
    width: 28%;
    text-align: center;
}
.col-II{
    text-align: center;
    border: 1px solid gray;
    float: left;
    width: 28%;
    margin-left: 8%;
    margin-right: 8%;
}
.col-III{
    text-align: center;
    border: 1px solid gray;
    float: left;
    width: 28%;
}
.user{
    padding: 10px 5px;
    display: inline-block;
}
.col-IV{
    border: 1px solid gray;
    border-top: 0px;
    width: 28%;
    float: left;
}
.col-V{
    float: left;
    width: 28%;
    margin-left: 8%;
    margin-right: 8%;
    border-top: 0px;
    border: 1px solid gray;

}
.col-VI{
    border-top: 0px;
    border: 1px solid gray;
    width: 28%;
    float: left;
}
.col-container{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
.vantaggi{
    margin-top: 40px;
    line-height: 40px
}
.costi{
    line-height: 30px;
}
.prezzo{
    font-weight: bold;
}
.mese{
    color: grey;
}
.row-text{
    padding-top: 10px;
    margin-top: 15px;
}
.col-pencil{
    float: left;
    width: 5%;
    padding-top: 0;
}
.col-text-div{
    float: right;
    width: 94%;
    line-height: normal;
}
.btn-prova-gratis{
    width: 100%;
    color: white;
    margin-top: 60px;
}
.link-testo{
    color: #116bff;
    text-decoration: none;
    padding-left: 5px;
}
.span-sottobottone{
    margin-top: 40px;
    margin-bottom: 40px;
}
.line{
    border-top: 1px solid gray;
    height: 2px;
    width: 60px;
}
.margin-top{
    margin-top: 40px;
    margin-bottom: 15px;
}
.check{
    color:#116bff;
}
/* end colonne */

/* ultima riga centrale */
.mini-container{
    width: 90%;
    margin: auto;
}
.team{
    border: 1px solid gray;
    margin-top: 60px;
}
.team:first-child{
    font-weight: bold;
    padding: 15px 0;
    text-align: center;

}
.enterprise{
    border: 1px solid gray;
    border-top: 0;
}
.mini-container{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 30px;
}
.mini-container h2{
    display: inline-block;
}
.mini-col-1{
    float: left;
    width: 70%;
}
.mini-col-1 h3{
    padding-top: 15px;
    padding-bottom: 30px;
}
.mini-col-2{
    float: right;
    width: 30%;
}
#ufficio-vendite{
    width: 100%;
    color: white;
}

/* RIGA PARTNER */
.row-partner{
    margin-top: 170px;
}
.col-img-partner{
    width: 50%;
    float: left;
}
.col-text-partner{
    margin-left: 5%;
    width: 45%;
    float: left;
}
.col-text-partner p{
    margin-bottom: 25px;
    font-weight: bold;
    line-height: 30px;
}
.btn-partner{
    background-color: white;
    border: 1px solid gray;
}
#Dropbox-Business{
    margin-top: 80px;
}
/* colonne con 2 righe */
.row-dropbox-business-2{
    margin-top: 150px;
}
.row-dropbox-business-1 h2{
    font-size: 30px;
}
.row-dropbox-business-2 h2{
    font-size: 30px;
}
.row-dropbox-business-1, .row-dropbox-business-2 p{
    line-height: 25px;
    font-weight: bold;
}
.first-col{
    float: left;
    width: 30%;
}
.second-col{
    float: left;
    width: 30%;
    margin: 0 5%;
}
.third-col{
    float: left;
    width: 30%;
}
.team-Dropbox{
    margin-top: 250px;
}
#span-clienti{
    font-weight: bold;
    color: #2678ff;
    text-decoration: underline;
    padding-left: 0;
}
/* loghi */
.main-logo-row{
    margin-top: 70px;
}
.logo-mini{
    filter: invert(100%);
    margin-top: 25%;
    width: 150px;
    height: 150px;
}
.main-col-1{
    float: left;
}
.col-first-logo{
    border: 10px solid #d0e9cd;
    background-color: #a2d39b;
    text-align: center;
    width: 270px;
    height: 270px;
    float: left;
}
.col-second-logo{
    background-color: #61082b;
    text-align: center;
    position: relative;
    width: 270px;
    height: 270px;
    float: left;
}
.logo-mini-florida{
    filter: invert(100%);
    margin-top: 50%;
    width: 150px;
}
.col-first-logo-florida{
    background-color: #0093ce;
    text-align: center;
    width: 270px;
    height: 270px;
    float: left;
}
.col-second-logo-topps{
    background-color: #ff1c1c;
    text-align: center;
    position: relative;
    width: 270px;
    height: 270px;
    float: left;
}
.main-col-2{
    float: left;
    background-color: gray;
    height: 540px;
}
.container-logo{
    width: 90%;
    margin: auto;
}
.main-col-3{
    float: right;
}
